.report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  &__label-field {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__Info-icon {
    width: 1rem;
    height: 1rem;
    :hover {
      cursor: pointer;
    }
  }

  &__input {
    border-radius: 0.25rem;
    white-space: pre-wrap;
  }

  &__link {
    cursor: pointer;

    :hover {
      transition: 0.5s;
      color: hsl(#{var(--clr-light-yellow)});
    }
  }
}
