.btn--prime {
  border-radius: 30px;
  height: 45px;
  width: 150px;
  background-color: transparent;
  border: 3px solid hsl(#{var(--clr-grey)});
  transition: 0.5s;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-image: linear-gradient(
      to right,
      #eb3349 0%,
      #f45c43 51%,
      #eb3349 100%
    );

    transform: scale(1.03);
  }

  &-box {
    display: flex;
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #eb3349 0%,
    #f45c43 51%,
    #eb3349 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn--second {
  border-radius: 30px;
  height: 45px;
  width: 150px;
  background-color: transparent;
  border: 3px solid hsl(#{var(--clr-grey)});
  transition: 0.5s;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-image: linear-gradient(to right, #00b4db, #0083b0);
    border: 3px solid hsl(#{var(--clr-white)});
    transform: scale(1.03);
  }

  &-box {
    display: flex;
  }
}
