@use "./globals" as *;
@use "./items" as *;

html {
  background-image: url("/src/assets/img/background_pic.svg");
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100vh;
  white-space: pre-wrap;
}

#root {
  display: flex;
  justify-content: center;
}

.container {
  width: 54vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 16px;
}

.search {
  display: flex;
  align-items: center;
  border-radius: 30px;
  width: 400px;
  height: 45px;
  border: 3px solid hsl(#{var(--clr-grey)});
  margin: 0 auto;
  transition: 0.5s;

  &:hover {
    border: 3px solid hsl(#{var(--clr-light-yellow)});
  }

  &__form {
    width: 340px;
  }

  svg {
    margin-left: 12px;
    color: hsl(#{var(--clr-black)});
    height: 24px;
    width: 24px;
  }

  &__input {
    color: hsl(#{var(--clr-black)});
  }
}

.logo__img {
  height: 120px;
  width: 120px;
}

.icons {
  display: flex;
  gap: 20px;
  margin: 0 auto;

  &__icon {
    transition: 0.8s;
    cursor: pointer;

    &:hover {
      color: hsl(#{var(--clr-second)});
    }
  }
  svg {
    height: 24px;
    width: 24px;
  }
}

.game__img {
  height: 220px;
  border-radius: 25px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  &__label-field {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__Info-icon {
    width: 16px;
    height: 16px;
    :hover {
      cursor: pointer;
    }
  }

  &__input {
    border-radius: 4px;
    white-space: pre-wrap;
  }

  &__link {
    cursor: pointer;

    :hover {
      transition: 0.5s;
      color: hsl(#{var(--clr-light-yellow)});
    }
  }
}

.answer {
  display: flex;
  justify-content: space-between;

  &__icon {
    height: 120px;
    width: 120px;
  }

  &__card {
    &:hover {
      cursor: pointer;
    }
  }
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.game-result {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
