/* ------------------- */
/* Reset               */
/* ------------------- */

html {
  box-sizing: border-box;
  font-size: 100%;
}

body,
:root {
  height: 100vh;
}

/* Reset margins */
html,
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* make form elements easier to work with */
input,
input:focus,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}
