:root {
  /* colors */
  --clr-black: 0 0% 0%;
  --clr-white: 100 100% 99%;

  --clr-light-grey: 0 0% 90%;
  --clr_grey: 0, 0%, 100%;
  --clr-dark-grey: 0 2% 72%;

  --clr-prime: 355 76% 56%;
  --clr-second: 203 37% 45%;

  --clr-dark-yellow: 33 89% 57%;
  --clr-light-yellow: 38 95% 66%;

  --clr-dark-brown: 24 22% 17%;

  --clr-bg-white: 33 100% 98%;
}

// color palette
$colors: (
  "white": hsl(#{var(--clr-white)}),
  "black": hsl(#{var(--clr-black)}),
  "grey": hsl(#{var(--clr-grey)}),
  "dark-grey": hsl(#{var(--clr-dark-grey)}),
  "light-grey": hsl(#{var(--clr-light-grey)}),
  "dark-yellow": hsl(#{var(--clr-dark-yellow)}),
  "light-yellow": hsl(#{var(--clr-light-yellow)}),
  "dark-brown": hsl(#{var(--clr-dark-brown)}),
  "prime": hsl(#{var(--clr-prime)}),
  "second": hsl(#{var(--clr-second)}),
);

.bg-prime {
  background-color: hsl(#{var(--clr-prime)});
}

.bg-second {
  background-color: hsl(#{var(--clr-second)});
}

/* text color */
.txt-dark {
  color: hsl(#{var(--clr-black)});
}

.txt-white {
  color: hsl(#{var(--clr-white)});
}

.txt-grey {
  color: hsl(#{var(--clr-grey)});
}

.txt-dark-brown {
  color: hsl(#{var(--clr-dark-brown)});
}
