/* colors */
$black: 0 0% 0%;
$white: 100 100% 99%;
$red: 355 76% 56%;
$grey: 0 2% 72%;

$dark-blue: 214 48% 23%;
$light-blue: 203 37% 45%;

$dark-yellow: 33 89% 57%;
$light-yellow: 38 95% 66%;

:root {
  /* colors */
  --clr-black: $black;
  --clr-white: $white;
  --clr-red: $red;
  --clr-grey: $grey;

  --clr-dark-blue: $dark-blue;
  --clr-light-blue: $light-blue;

  --clr-dark-yellow: $dark-yellow;
  --clr-light-yellow: $light-yellow;
}

/* colors */
.bg-black {
  background-color: #{"hsl(var(--clr-black))"};
}
.bg-white {
  background-color: #{"hsl(var(--clr-white))"};
}
.bg-red {
  background-color: #{"hsl(var(--clr-red))"};
}
.bg-grey {
  background-color: #{"hsl(var(--clr-grey))"};
}

.bg-dark-blue {
  background-color: #{"hsl(var(--clr-dark-blue))"};
}
.bg-light-blue {
  background-color: #{"hsl(var(--clr-light-blue))"};
}

.bg-dark-yellow {
  background-color: #{"hsl(var(--clr-dark-yellow))"};
}
.bg-light-yellow {
  background-color: #{"hsl(var(--clr-light-yellow))"};
}

/* text color */
.txt-dark {
  color: #{"hsl(var(--clr-dark))"};
}
.txt-white {
  color: #{"hsl(var(--clr-white))"};
}
.txt-grey {
  color: #{"hsl(var(--clr-grey))"};
}
