.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap {
  display: flex;
  gap: 0.7rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
