// 2022 ㅣ google font에 security issue가 있어서 다운 받아서 썼음

$main-kr: "Gowun Dodum", sans-serif;

@font-face {
  font-family: "Gowun Dodum", sans-serif;
  src: url("../assets/font/GowunDodum-Regular.ttf") format("truetype");
}

// @font-face {
//   font-family: --ff-main-eng;
//   src: url("../assets/font/Raleway/Raleway-Medium.ttf") format("truetype");
// }

h1,
h2,
h3 {
  line-height: 1.1;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: $main-kr;
}
